pandas~=2.1.0
folium~=0.16.0
scipy~=1.13.0
numpy~=1.26.4
tqdm~=4.66.1
shapely~=2.0.3
matplotlib~=3.9.0
requests~=2.31.0
branca~=0.7.1
pillow~=10.3.0
plotly~=5.22.0
scikit-learn~=1.4.2
astral~=3.2
Cartopy~=0.23.0